* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: grey;
}
nav .logo {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 60%;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}
ul li a:hover {
  cursor: pointer;
  color: black;
  transition: all 0.5s ease;
  font-weight: bold;
}
/*nav .icon {
  font-size: 40px;
}*/
/*nav .icon:hover {
  cursor: pointer;
  color: white;
  transition: all 0.5s ease;
}*/
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 20px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}
@media screen and (max-width: 1024px) {
  nav ul {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav ul {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(180%);
    transition: transform 0.4s ease-in;
  }

  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0);
  }
}
